{% extends "header.html" %}

{% block content%}
<style>
#main_content{
min-height:428px;
margin-left:20%;
}
</style>

<div id="main_content">


<section>
	<div class="container">
		<div class="row">
		
		<div class="col-lg-9">
		<h4><b><u>Update Customer Screen</u></b> &nbsp <span style="float:right;">  </span>   </u></b></h4>
		
		
		
<div style="background:#fff; padding-bottom:15px; padding-top:15px; margin-bottom:20px;" class="oDiv">
<!--start--->
<form action="" method="post">
<div class="col-lg-6" >
	<label>
		Customer SSM id
	</label>
	<input type="text"  id="Customer_ssm_id" value="SSM00987654" class="form-control"  disabled>
	<br>
</div>
<div class="col-lg-6">
	<label>
		Customer id
	</label>
	<input type="text"  id="Customer_id" value="8450098764" class="form-control"  disabled>
	<br>
</div>
<div class="col-lg-6">
	<label>
		Old Customer Name
	</label>
	<input type="text" id="Customer_Name" value="xyz" class="form-control" disabled>
	<br>
</div>
<div class="col-lg-6">
	<label>
		New Customer Name
	</label>
	<input type="text" id="Customer_Name" value="" class="form-control" placeholder="Customer Name *">
	<br>
</div>
<div class="col-lg-6">
	<label>
		Old Age
	</label>
	<input type="number" id="Age" value="40" class="form-control" disabled>
	<br>
</div>
<div class="col-lg-6">
	<label>
		Age
	</label>
	<input type="number" id="Age" value="" class="form-control" placeholder="Age *">
	<br>
</div>


<div class="col-lg-6">
	<label>
		Old Address
	</label>
	<textarea id="Address" class="form-control" disabled>Old Address shows Here </textarea>
	<br>
</div>
<div class="col-lg-6">
	<label>
		 Address
	</label>
	<textarea id="Address" class="form-control" placeholder="Enter Address Here *"> </textarea>
	<br>
</div>



 
<div class="col-lg-12">
	<button class="btn btn-sm btn-success btn_submit" type="submit">Update</button>
</div>

<div style="clear:both;"></div>
</form>
<!--end--->
</div>
		
		</div>
		
		
		</div>
	</div>
</section>

</div>

{% endblock %}